{erl_opts, [
    {parse_transform, lager_transform},
    {lager_truncation_size, 10096},

    bin_opt_info,

    warn_bif_clash,
    warn_export_all,
    warn_obsolete_guard,

    warn_unused_import,

    warn_unused_record,
    warn_untyped_record,

    warn_shadow_vars,
    warn_unused_vars,
    warn_export_vars,
    warn_exported_vars,

    warn_unused_function,
    warn_deprecated_function,

    strict_validation,
    warn_missing_spec
]}.

{priv_dir, "priv"}.
{deps_dir, "deps"}.

{deps, [
    {lager, ".*",
        {git, "git://github.com/basho/lager", {branch, master}}},

    {sync, ".*",
        {git, "git://github.com/rustyio/sync", {branch, master}}}
]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{eunit_compile_opts, [export_all]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{post_hooks, [
    {clean, "rm -f ./test/*.beam"},
    {clean, "rm -rf ./logs"}
]}.

